@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root
{
    --cor-primaria: #213635;
    --cor-hover:#348e91;
   --cor-tercearia: #1c5052;
   --cor-da-fonte: #f2f2f2;
   
}

*{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--cor-da-fonte);       
}

.cabecalho
{
   display: flex;
   flex-direction: column;
  
}
.cabecalho__painel
{
   
    height: 85px;
    width: 100%;
    background-color: var(--cor-tercearia);
}

.cabecalho__painel__titulo
{
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
}

.cabecalho__navegacao
{    
    display: flex;
    height: 50px;
    justify-content: center;    
    padding: 5px;   
}

.apresentacao__sobre
{
   display: flex;
   align-items: center;   
   padding: 1%;
}

.apresentacao__sobre__DSM
{
    width: 50%;
}

.disciplinas
{
    padding: 20px;
}

article
{
    width: 50%;
}

.rodape
{
    background-color: var(--cor-tercearia);
    text-align: center; 
    padding: 15px;;
    font-size: 0.8rem;
}

.contentor-img
{
    width: 50%;
}

#profissional-img
{
    width: 100%;   
}

.cabecalho__navegacao a:hover
{
    background-color: var(--cor-hover);
}

.cabecalho__navegacao a
{
    color: var(--cor-da-fonte);
    background-color: var(--cor-tercearia);    
}

.db_content article
{
    background-color: var(--cor-secundaria);
    border: 1px dashed #1c5052;
}

section .titulo
{
    background-color: var(--cor-tercearia); 
}

/* OBJETOS DO FRAMEWORK DE LAYOUT */

.btn
{ 
    width: 200px;
    margin: 0px 5px ;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.75%;
    font-size: 1rem;    
}

.titulo
{
    text-align: center;    
    border-radius: 3px;   
    margin-bottom: 10px;  
    padding: 1%;  
    font-weight: 700;
}

.container
{
    padding: 2%;
    text-align: justify;
}

.db_content
{
    display: flex;
    width: auto;    
}

/* RESPONSIVIDADE */

@media (max-width: 715px)
{
    .cabecalho__navegacao
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;        
    }
    .apresentacao__sobre
    {
        display: flex;
        flex-direction: column;
    }

    .btn
    {
        width: 90%;
        margin: 3px;
    }

    .db_content
    {
        flex-direction: column;
        align-items: center;
    }

    .db_content article
    {
        width: 100%;
    }

    .apresentacao__sobre__DSM
    {
        width: 100%;
    }

    .cabecalho__painel__titulo
    {
        text-align: center;
        padding-top: 9px;
    }
}







